$textc: #ff9900;
$font: 'Courier New', monospace;
$backgroundc: #343233;

head {
    color: $textc;
    background-color: $backgroundc;
    font: 100% $font;
}
body {
    color: $textc;
    background-color: $backgroundc;
    font: 100% $font;
}
footer {
    color: $textc;
    background-color: $backgroundc;
    font: 100% $font;
}
