$textc: #ff9900;
$font: 'Courier New', monospace;
$backgroundc: #343233;
$buttonbc: #ffffff;

head {
    color: $textc;
    background-color: $backgroundc;
    font: 100% $font;
}
body {
    color: $textc;
    background-color: $backgroundc;
    font: 100% $font;
    .responsive {
        width: 100%;
        height: auto;
      }
}
footer {
    color: $textc;
    background-color: $backgroundc;
    font: 100% $font;
}
button {
    color: $textc;
    background-color: $buttonbc;
    font: 100% $font;
}
