#darkbutton {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#whitebutton {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#high-contrastbutton {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    background-color: var(--secondary);
    color: var(--primary);
    font-family: 'Roboto Mono', monospace;
}